scripts_utilitaires/log/fight.log
scripts_utilitaires/log/fight_history.log
scripts_utilitaires/log/opponents.log
scripts_utilitaires/log/result_connection.log
scripts_utilitaires/var/login
scripts_utilitaires/var/pass
